{% extends 'users/template.html' %}
{% load crispy_forms_tags %}
{% block head %}
<title>Login : PolliT</title>
{% endblock head %}
{% block content %}
{% if form.errors %}
    {% for error in form.error %}
        {{error}}
    {% endfor %}
{% endif %}
<div class="row-md-4 mx-auto mt-5">
    <form method="post">
    <div class="card w-25 mx-auto">
            <h3 class="text text-info mx-auto mt-3">Create Poll</h3>
            <div class="card-body">
                
                    {% csrf_token %}
                    {{form|crispy}}
                    <br />
            </div>
            <div class="card-footer">
                <input type="submit" value="Post" />
            </div>
        
    </div>
    
</form>
    
</div>

{% endblock content %}