{% extends 'users/template.html' %}
{% block head %}
   <title>
       Hi
   </title>
{% endblock head %}

{% block content %}
<div class="jumbotron jumbotron-fluid text text-center">
    <h1 class="text text-info">{{objs.name}}</h1>
</div>

<div class="row-md-6 mx-auto my-3 mb-5">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                {% if not objs.is_anon %}
                <h5 class="font-weight-light">{{objs.author}}</h5>
                {% else %}
                <h5 class="font-weight-light">Anonymous</h5>
                {% endif %}
                <h6 class="font-weight-light">{{objs.date}}</h6>
                {{objs.text|safe}}
            </div>
            <div class="card-footer mb-3">
               Option 1 :  {{objs.option1}}
            </div>
            <div class="card-footer mb-3">
                Option 2 : {{objs.option2}}
            </div>
            <div class="card-footer mb-3">
                Option 3 : {{objs.option3}}
            </div>
            <div class="card-footer mb-3">
                Option 4 : {{objs.option4}}
            </div>
        </div>
    </div>
</div>


{% endblock content %}