{% extends 'users/template.html' %}
{% block head %}
   <title>
       {% if objs %}
            {{objs.name}}
        {% else %}
            Not found!
        {% endif %}
   </title>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   
   
{% endblock head %}

{% block content %}
{% csrf_token %}
<div class="jumbotron jumbotron-fluid text text-center">
    <h1 class="text text-info">{{objs.name}}</h1>
</div>
<div class="row-md-6 mx-auto my-3 mb-5">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="d-inline-block col-md-6 mx-3" >
                {% if user == objs.author %}
                    <a class="btn btn-warning mx-3 my-2 float-right" href="{% url 'updatepoll' objs.id %}">Edit Poll</a>
                    <a class="btn btn-danger mx-3 my-2 float-right" href="{% url 'deletepoll' objs.id %}">Delete Poll</a>
                {% endif %}
            </div>
            <div class="card-body">
                {% if not objs.is_anon %}
                <h5 class="font-weight-light">{{objs.author}}</h5>
                {% else %}
                <h5 class="font-weight-light">Anonymous</h5>
                {% endif %}
                <h6 class="font-weight-light">{{objs.date}}</h6>
                {{objs.text|safe}}
            </div>
            <button type="button" class="btn" id ='1' style='text-align: left;margin-bottom: 2%; padding: 2%;'>
               Option 1 :  {{objs.option1}}
            </button>
            <button type="button" class="btn" id ='2' style='text-align: left;margin-bottom: 2%; padding: 2%;'>
                Option 2 :  {{objs.option2}}
             </button>
             <button type="button" class="btn" id ='3' style='text-align: left;margin-bottom: 2%; padding: 2%;'>
                Option 3 :  {{objs.option3}}
             </button>
             <button type="button" class="btn" id ='4' style='text-align: left;margin-bottom: 2%; padding: 2%;'>
                Option 4 :  {{objs.option4}}
             </button>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function(){

        $(".btn").click(function(){
            option= $(this).attr('id');
            var pollId = window.location.pathname;
            pollId=pollId.split('/')[2];

            $.ajax({
                            type : 'POST',
                            dataType : "json",
                            traditional : true,
                            url : '/countpoll/',
                            data:{
                                    pollId:pollId,
                                    count:option,
                                    csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
                            },
                            success:function(){
                                alert('Poll completed');
                                window.location.replace("{% url 'home' %}");
                            },
                            error:function(){
                                alert('some error has ocurred!')
                            }
                
            }); 

        });
    });
</script>
{% endblock js %}
