{% extends 'users/template.html' %}
{% load crispy_forms_tags %}
{% block head %}
<title>Login : PolliT</title>
{% endblock head %}
{% block content %}
{% if  user.is_authenticated %}
    <h1 class="text text-info w-50 mx-auto mt-5">You are already logged in!</h1>
{% else %}
{% if form.errors %}
    {% for error in form.error %}
        {{error}}
    {% endfor %}
{% endif %}
<div class="row-md-4 mx-auto mt-5">
    <div class="card w-25 mx-auto">
        <form method="post">
            <div class="card-body">
                
                    {% csrf_token %}
                    {{form|crispy}}
                    <br />
                
                
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-info float-right">Login</button>   
                <a href="{% url 'signup' %}" class="btn btn-success float-left">Signup</a> 
            </div>
        </form>    
    </div>
    
</div>
{% endif %}
{% endblock content %}