{% load static %}
<html>
<head>
    {% block head %}

    {% endblock head %}    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />  
<style>
  #nav-text:hover
  {
    text-decoration: underline;
  }
</style>
</head>
<body>
<!-- Nav bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  
    <a class="navbar-brand" href="{% url 'home' %}" id="nav-text">Poll<font class="text-dark">iT</font></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      
      <ul class="navbar-nav">
        
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'createPoll' %}">Create Polls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mypolls' %}">My Polls</a>
        </li>
        
      </ul>
    </div>
    <div class="float-right">
      {% if user.is_authenticated %}
        <a class="navbar-item active"><a href="{% url 'logout' %}" class="btn btn-danger"><h6>Logout</h6></a></a>
      {% else %}
        <a class="navbar-item active"><a href="{% url 'login' %}" class="btn btn-warning"><h6>Login</h6></a></a>
      {% endif %}
      </div>
  </nav>

  <!--  -->


{% block content %}
{% endblock content %}
    
<!-- JS FILES -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block js %}
{% endblock js %}
</body>
</html>